<div class="page">
  <header tabindex="0">NotePadApp</header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li>
          <a routerLink="/auth" *ngIf="isLoggedIn$ | async" (click)="logout()"
            >Logout</a
          >
        </li>
        <li>
          <a routerLink="/auth" *ngIf="isLoggedOut$ | async">Login</a>
        </li>
        <li><a href="#0"> Add Aesthetic </a></li>
        <li><a href="#0">Import Your Notes</a></li>
        <li><a href="#0">Clear All Notes</a></li>
        <li><a href="#0">Contact</a></li>
        <li class="small">
          <a href="#0">Facebook</a><a href="#0">Instagram</a>
        </li>
      </ul>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
