@import "~bootstrap-icons/font/bootstrap-icons.css";
.wrapper {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}
.content {
  margin-top: 60px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebcd9f;
  border-radius: 14px;
}
.content > label {
  color: #bf7497;
}

.add-note {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-note > a {
  font-size: 36px;
 
  
}
.add-note > a:hover {
  color:  #bf7497;
}


