<div class="wrapper">
  <form action="" [formGroup]="form">
    <label for="header"> *Enter Your Header : </label>
    <input formControlName="header" type="text" id="header" />

    <label for="body"> Enter your note here : </label>
    <textarea
      formControlName="body"
      name=""
      id=""
      cols="30"
      rows="10"
      id="body"
    ></textarea>

    <div class="tools">
      <button class="clear">Clear All</button>
      <button class="save" (click)="saveNote()" [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</div>
